<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ApFast</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Monitor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Catalog</a>
                </li>

            </ul>
            <ul >
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="custom-button transparent text-capitalize btn-sm">Sign In</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="button-unstyle">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <h3 class="text-center">Monitor</h3>
        <a class="btn btn-primary" th:href="@{/add-new}" sec:authorize="isAuthenticated()">Add New</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Vehicle Id</th>
                <th scope="col">Vehicle Name</th>
                <th scope="col">Vehicle Model</th>
                <th scope="col">Year of Manufacture</th>
                <th scope="col">Vehicle Color</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicle, index : ${vehicles}">
                <th scope="row" th:text="${index.index + 1}">1</th>
                <td th:text="${vehicle.vehicleId}"></td>
                <td th:text="${vehicle.vehicleName}"></td>
                <td th:text="${vehicle.vehicleModel}"></td>
                <td th:text="${vehicle.yearOfManufacture}"></td>
                <td th:text="${vehicle.vehicleColor}"></td>
                <td>
                    <a class="btn btn-secondary">Edit</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</body>
</html>