<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/footer.css" rel="stylesheet">
</head>
<body>
<div class="container center">
    <h2>Add new Student</h2>
    <form th:action="@{/v1/vehicles/add}" method="post" th:object="${newVehicle}" >
        <div class="mb-3">
            <input type="hidden" th:field="*{vehicle_id}"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Vehicle_name</label>
            <input placeholder="Enter vehicle_name" type="text" autofocus="autofocus" class="form-control" th:field="*{vehicle_name}"/>
            <p th:if="${#fields.hasErrors('vehicle_name')}" th:errors="*{vehicle_name}" class="error"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">Vehicle_model</label>
            <input placeholder="Enter Vehicle_model" type="text" autofocus="autofocus" class="form-control" th:field="*{vehicle_model}"/>
            <p th:if="${#fields.hasErrors('vehicle_model')}" th:errors="*{vehicle_model}" class="error"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">Year_of_manufacture</label>
            <input placeholder="Enter year_of_manufacture" type="text" autofocus="autofocus" class="form-control" th:field="*{year_of_manufacture}"/>
            <p th:if="${#fields.hasErrors('year_of_manufacture')}" th:errors="*{year_of_manufacture}" class="error"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">vehicle_color</label>
            <input placeholder="Enter vehicle_color" type="text" autofocus="autofocus" class="form-control" th:field="*{vehicle_color}"/>
            <p th:if="${#fields.hasErrors('vehicle_color')}" th:errors="*{vehicle_color}" class="error"></p>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a th:href="@{/v1/vehiclces}" class="btn btn-secondary">Back</a>
        </div>

    </form>
</div>
</body>
</html>