<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ApFast</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Monitor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Catalog</a>
                </li>

            </ul>
            <ul >
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="custom-button transparent text-capitalize btn-sm">Sign In</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="button-unstyle">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="text-center">Create new</h1>
    <form th:action="@{/add-new}" th:object="${vehicle}" method="post">
        <div class="mb-3">
            <label class="form-label">Vehicle Name</label>
            <input type="text" class="form-control" th:field="*{vehicleName}">
        </div>
        <div class="mb-3">
            <label class="form-label">Vehicle Model</label>
            <input type="text" class="form-control" th:field="*{vehicleModel}">
        </div>
        <div class="mb-3">
            <label class="form-label">Year of Manufacture</label>
            <input type="number" class="form-control" th:field="*{yearOfManufacture}">
        </div>
        <div class="mb-3">
            <label class="form-label">Color</label>
            <input type="text" class="form-control" th:field="*{vehicleColor}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>